body {
    font-family: 'Arial', sans-serif;
    image-resolution: 20;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    color: #0056b3;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-style: oblique;
}

.text-center {
    text-align: center;
}


img {
    max-width: 100%;
    height: auto;
}

.btn-primary {
    background-color: #0056b3;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #003f87;
}
